<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<meta name="description" content="Xenon Boostrap Admin Panel" />
	<meta name="author" content="" />
	<meta http-equiv="Content-Type" content="multipart/form-data; charset=utf-8" />
	<title>XIAXIA book store</title>
	<link rel="stylesheet" th:href="@{/assets/css/fonts/linecons/css/linecons.css}">
	<link rel="stylesheet" th:href="@{/assets/css/fonts/fontawesome/css/font-awesome.min.css}">
	<link rel="stylesheet" th:href="@{/assets/css/bootstrap.css}">
	<link rel="stylesheet" th:href="@{/assets/css/xenon-core.css}">
	<link rel="stylesheet" th:href="@{/assets/css/xenon-forms.css}">
	<link rel="stylesheet" th:href="@{/assets/css/xenon-components.css}">
	<link rel="stylesheet" th:href="@{/assets/css/xenon-skins.css}">
	<link rel="stylesheet" th:href="@{/assets/css/custom.css}">

	<script src="/assets/js/jquery-1.11.1.min.js"></script>

	<!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
	<!--[if lt IE 9]>
		<script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
		<script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
	<![endif]-->
	<!--上传照片的按钮-->
	<style>
		body {
			background: #edf0f2;
		}
		/*img {*/
			/*width: 100%;*/
			/*display: block;*/
			/*border: none;*/
			/*vertical-align: bottom;*/
			/*border: none;*/
		/*}*/
		input[type="button"] {
			-webkit-appearance: none;
		}
		.productDrawingBox {
			background-color: #fcfcfc;
			color: #333333;
			font-size: 16px;
			padding-left: 11px;
			border-bottom: solid 1px #e5e5e5;
		}
		.productDescription {
			height: 44px;
			line-height: 44px;
		}
		.productImg {
			height: 96px;
			overflow: hidden;
		}
		.imgBiMG{
			width: 78px;
			height: 81px;
			float: left;
			display: block;
		}
		.uploadDIv {
			width: 78px;
			height: 81px;
			background-color: #edf0f2;
			font-size: 28px;
			color: #bfbfbf;
			text-align: center;
			line-height: 81px;
			float: left;
			position: relative;
		}
		.uploadDIv input {
			width: 78px;
			height: 78px;
			opacity: 0;
			position: absolute;
			right: 0px;
			top: 0px;
			z-index: 4;
			padding: 0;
		}

		.list-group-horizontal .list-group-item {
			display: inline-block;
			float: left;
		}



	</style>

	<!--处理照片-->
	<script type="text/javascript">

		$(document).ready(
				function() {
					var i=0;//用于关联照片和file
					//为外面的盒子绑定一个点击事件
					$(".uploadDIv").click(function () {
						/*
                        1、先获取input标签
                        2、给input标签绑定change事件
                        3、把图片回显
                         */
//            1、先回去input标签
						var $input = $("#inputs");

//            2、给input标签绑定change事件
						$input.on("change", function () {
							console.log(this);
							//补充说明：因为我们给input标签设置multiple属性，因此一次可以上传多个文件
							//获取选择图片的个数
							var files = this.files;
							var length = files.length;
							console.log("选择了" + length + "张图片");
							//3、回显
							$.each(files, function (key, value) {
								//每次都只会遍历一个图片数据
								var div = document.createElement("div"),
										img = document.createElement("img");
								div.className = "divImg";
								div.setAttribute("id","divImg")
								img.className = "imgBiMG";
								++i;
								img.setAttribute('id',"label"+i);

								var fr = new FileReader();
								fr.onload = function () {
									//this.result
									img.src = this.result;
									div.appendChild(img);
									// document.body.appendChild(div);
									$("#divImg1").after(div);//在标签divImgl后加入
								};
								fr.readAsDataURL(value);
							})

						});

						//4、我们把当前input标签的id属性remove
						$input.removeAttr("id");
						document.getElementById("label").setAttribute("id","label"+(i+1));
						//我们做个标记，再class中再添加一个类名就叫test
						var newInput = '<div id="label"> <input type="file" name="imgAddress"  id="inputs" accept="image/*" class=\'fileTest\' multiple="multiple" /></div>';
						$(this).append($(newInput));

					});

					/*删除功能*/
					$(document).on("click", ".imgBiMG", function () {
						console.log("click");
						var _this = $(this);
						var a=_this.attr("id");//获取属性值
						console.log(a);
						_this.parents("#divImg").remove();
						console.log(a);
						document.getElementById(a).remove();
					})
				});
	</script>
	
</head>
<body class="page-body">

	<div class="settings-pane">
			
		<a href="#" data-toggle="settings-pane" data-animate="true">
			&times;
		</a>

		<div class="settings-pane-inner">

			<div class="row">

				<div class="col-md-4">

					<div class="user-info">

						<div class="user-image">
							<a href="extra-profile.html">
								<img th:src="@{${session.USER.avatar}}" class="img-responsive img-circle" />
							</a>
						</div>

						<div class="user-details">

							<h3>
								<a href="extra-profile.html" th:utext="${session.USER.getUsername()}"></a>

								<!-- Available statuses: is-online, is-idle, is-busy and is-offline -->
								<span class="user-status is-online"></span>
							</h3>
							<p class="user-title" th:if="${session.USER.getRole()==1}">boss</p>
							<p class="user-title" th:if="${session.USER.getRole()==2}">后台管理员</p>
							<p class="user-title" th:if="${session.USER.getRole()==3}">店主</p>

							<div class="user-links">
								<!--<a href="extra-profile.html" class="btn btn-primary">Edit Profile</a>-->
								<a href="extra-profile.html" class="btn btn-success">查看个人信息</a>
							</div>

						</div>

					</div>

				</div>


				<div class="col-md-8 link-blocks-env">

					<div class="links-block left-sep">
						<h4>
							<span>个人信息</span>
						</h4>

						<ul class="list-unstyled">
							<li>
								<p th:utext="${'真实姓名:'+session.USER.getRealname()}"></p>
							</li>
							<li>
								<p th:utext="${'所在地区:'+session.USER.getAddress()}"></p>
							</li>
							<li>
								<p th:utext="${'联系方式:'+session.USER.getPhone()}"></p>
							</li>
							<li>
								<p th:utext="${'出生日期'+session.USER.getAge()}"></p>
							</li>
							<li>

							</li>

						</ul>
					</div>

					<div class="links-block left-sep" th:if="${session.USER.getRole()==3}">
						<h4>
							<a href="#">
								<span>店铺信息</span>
							</a>
						</h4>

						<ul class="list-unstyled">
							<li>
								<p th:utext="${'店铺名称:'+session.USER.getBusiness().getStoreName()}"></p>
							</li>
							<li>
								<p th:utext="${'创建时间:'+session.USER.getBusiness().getCreateDate()}"></p>
							</li>
							<li>
								<p th:utext="${'店铺介绍'+session.USER.getBusiness().getIntroduction()}"></p>
							</li>
						</ul>
					</div>

				</div>

			</div>

		</div>

	</div>

	<div class="page-container">
		<div class="sidebar-menu toggle-others fixed">

			<div class="sidebar-menu-inner">


				<header class="logo-env">

					<!-- logo -->
					<div class="logo">
						<h3><font color="#f0f8ff"> XIAXIA BOOK STORE</font></h3>
					</div>
					<div class="settings-icon">
						<a href="#" data-toggle="settings-pane" data-animate="true">
							<i class="linecons-cog"></i>
						</a>
					</div>
				</header>
				<ul id="main-menu" class="main-menu">
					<li th:if="${session.USER.getRole()<=2}">
						<a href="#">
							<span class="title">图书类别管理</span>
						</a>
						<ul>
							<li>
								<a th:href="@{/business/addBookType}">
									<span class="title">增加图书类型</span>
								</a>
							</li>
							<li>
								<a th:href="@{/business/showBookType}">
									<span class="title">查看图书类型</span>
								</a>
							</li>
						</ul>
					</li>
					<li th:if="${session.USER.getRole()<=3}" >
						<a href="#">
							<span class="title">图书信息管理</span>
						</a>
						<ul>
							<li>
								<a  th:href="@{/business/addBook}">
									<span class="title">添加图书</span>
								</a>
							</li>
							<li>
								<a th:href="@{/business/BackShowBooks}">
									<span class="title">查询图书信息</span>
								</a>
							</li>
							<li>
								<a th:href="@{/business/updateBook}">
									<span class="title">修改图书信息</span>
								</a>
							</li>
							<li th:if="${session.USER.getRole()<=2}">
								<a th:href="@{/business/addAuthor}">
									<span class="title">增加作者</span>
								</a>
							</li>
							<li th:if="${session.USER.getRole()<=2}">
								<a th:href="@{/business/showAllAuthor}">
									<span class="title">查询作者信息</span>
								</a>
							</li>
							<li th:if="${session.USER.getRole()<=2}">
								<a th:href="@{/business/updateAuthor}">
									<span class="title">修改作者信息</span>
								</a>
							</li>
						</ul>
					</li>
					<li th:if="${session.USER.getRole()<=3}">
						<a href="#">
							<span class="title">评价管理</span>
						</a>
						<ul>
							<li>
								<a th:href="@{/business/showBackEvaluation}">
									<span class="title">查看书籍评价</span>
								</a>
							</li>
							<li>
								<a th:href="@{/business/praiseAnalysis}">
									<span class="title">评价分析</span>
								</a>
							</li>
						</ul>
					</li>
					<li th:if="${session.USER.getRole()<=3}">
						<a href="#">
							<span class="title">销售分析</span>
						</a>
						<ul>
							<li>
								<a th:href="@{/business/showMonthSale}">
									<span class="title">每月销售分析</span>
								</a>
							</li>
							<li>
								<a th:href="@{/business/hotBookBySale}">
									<span class="title">书籍销售分析</span>
								</a>
							</li>

						</ul>
					</li>
					<li th:if="${session.USER.getRole()<=3}">
						<a href="#">
							<span class="title">订单管理</span>
						</a>
						<ul>
							<li>
								<a th:href="@{/business/showNewOrder}">
									<span class="title">新订单</span>
								</a>
							<li>
								<a th:href="@{/business/updateOrderInBack}">
									<span class="title">修改订单信息</span>
								</a>
							</li>
						</ul>
					</li>
					<li th:if="${session.USER.getRole()<=2}">
						<a href="#">
							<span class="title">公告管理</span>
						</a>
						<ul>
							<li>
								<a th:href="@{/business/addSlide}">
									<span class="title">添加公告</span>
								</a>
							</li>
							<li>
								<a th:href="@{/business/showAllSlide}">
									<span class="title">查看公告信息</span>
								</a>
							</li>
						</ul>
					</li>
					<li th:if="${session.USER.getRole()==1}">
						<a href="#">
							<span class="title">管理员管理</span>
						</a>
						<ul>
							<li>
								<a th:href="@{/business/addAdministrator}">
									<span class="title">添加管理员</span>
								</a>
							</li>
							<li>
								<a th:href="@{/business/showAllAdministrator}">
									<span class="title">查看所有管理员信息</span>
								</a>
							</li>
						</ul>
					</li>
					<li th:if="${session.USER.getRole()<=2}" class="active opened active" >
						<a href="#">
							<span class="title">商家管理</span>
						</a>
						<ul>
							<li>
								<a th:href="@{/business/showAllNewBusiness}">
									<span class="title">商家申请</span>
								</a>
							</li>
							<li>
								<a th:href="@{/business/showAllBusiness}">
									<span class="title">查看所有商家</span>
								</a>
							</li>
							<li class="active">
								<a th:href="@{/business/updateStore}">
									<span class="title">更新店铺信息</span>
								</a>
							</li>
						</ul>
					</li>

				</ul>

			</div>
			
		</div>
		
		<div class="main-content">
					
			<!-- User Info, Notifications and Menu Bar -->
			<nav class="navbar user-info-navbar" role="navigation">
				
				<!-- Left links for user info navbar -->
				<ul class="user-info-menu left-links list-inline list-unstyled">
					
					<li class="hidden-sm hidden-xs">
						<a href="#" data-toggle="sidebar">
							<i class="fa-bars"></i>
						</a>
					</li>
				</ul>


				<!-- Right links for user info navbar -->
				<ul class="user-info-menu right-links list-inline list-unstyled">
					<li class="dropdown user-profile">
						<a href="#" data-toggle="dropdown">
							<img th:src="@{${session.USER.avatar}}" alt="user-image" class="img-circle img-inline userpic-32" width="28" />
							<span>
								<i class="fa-angle-down"></i>
							</span>
						</a>
					</li>

				</ul>

			</nav>

			<div class="row">
				<div class="col-sm-12">
					
					<div class="panel panel-default">
						<div class="panel-heading">
							<h3 class="panel-title">商家信息修改</h3>
							<div class="panel-options">
								<a href="#" data-toggle="panel">
									<span class="collapse-icon">&ndash;</span>
									<span class="expand-icon">+</span>
								</a>
								<a href="#" data-toggle="remove">
									&times;
								</a>
							</div>
							<div>
								<form method="get" th:action="@{/business/researchBusinessbusinessName}" class="form-inline  pull-right">
									<div class="form-group">
										<input type="text" name="businessName" class="form-control search-field" placeholder="请输入店铺名" />
									</div>
									<div class="form-group">
										<button type="submit" class="btn btn-link">
											<i class="linecons-search"></i>
										</button>
									</div>
								</form>
							</div>
						</div>
						<div class="panel-body" th:if="${business==null}">
							<h1>没有该商家</h1>
						</div>

						<div class="panel-body" th:if="${business!=null}">

							<form role="form" class="form-horizontal" action="/business/updatingBusiness" th:method="post"  enctype="multipart/form-data">
								<input type="text" name="bId" th:value="${business.bId}" hidden="hidden"/>
								<div class="form-group">
									<label class="col-sm-2 control-label" for="field-1">店铺名<font color="red">（需要修改请联系管理员）</font> </label>
									<div class="col-sm-8">
										<input type="text" class="form-control" id="field-1" th:value="${business.storeName}" name="storeName" disabled>
									</div>
								</div>
								<div class="form-group">
									<label class="col-sm-2 control-label" for="field-2">店铺地址<font color="red">（需要修改请联系管理员）</font></label>
									<div class="col-sm-8">
										<input type="text" class="form-control" id="field-2" th:value="${business.address+business.detailAddress}" name="address">
									</div>
								</div>
								<div class="form-group">
									<label class="col-sm-2 control-label" for="field-4">店主昵称</label>
									<div class="col-sm-8">
										<input type="text" class="form-control" id="field-4" th:value="${business.user.account}" name="account" disabled>
									</div>
								</div>
								<div class="form-group">
									<label class="col-sm-2 control-label" for="field-5">店铺介绍</label>

									<div class="col-sm-8">
										<textarea class="form-control" cols="5" rows="3" id="field-5" th:utext="${business.introduction}" name="introduction"></textarea>
									</div>
								</div>
								<div class="form-group">
									<label class="col-sm-2 control-label">店铺logo</label>
									<div class="col-sm-6">
										<div  class="col-sm-6">
											<img th:src="@{${business.logo}}" class="img-thumbnail">
										</div>
									</div>
								</div>
								<div class="form-group">
									<label class="col-sm-2 control-label">更换店铺logo</label>
									<div class="col-sm-10">
										<div class="productImg">
											<!--<div id="uploadBox">-->

											<div class="uploadDIv">
												<span>+</span><div id="label"><input type="file" name="imgAddress"  id="inputs" accept="image/*" class='fileTest' multiple="multiple" /></div>
											</div>
											<div class="divImg" id="divImg1"></div>
										</div>
									</div>
								</div>

								<div class="form-group-separator"></div>
								<div class="form-group">
									<center><button type="submit" class="btn btn-warning btn-lg">提交修改</button></center>
								</div>
							</form>
							
						</div>
					</div>
					
				</div>
			</div>
			<footer class="main-footer sticky footer-type-1">

			</footer>
		</div>

		
	</div>
	
	
	



	<!-- Bottom Scripts -->
	<script src="/assets/js/bootstrap.min.js"></script>
	<script src="/assets/js/TweenMax.min.js"></script>
	<script src="/assets/js/resizeable.js"></script>
	<script src="/assets/js/joinable.js"></script>
	<script src="/assets/js/xenon-api.js"></script>
	<script src="/assets/js/xenon-toggles.js"></script>


	<!-- JavaScripts initializations and stuff -->
	<script src="/assets/js/xenon-custom.js"></script>

</body>
</html>