<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
<meta http-equiv="content-type" content="text/html; charset=utf-8" />
	
	<!-- mobile meta tag -->		
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

	<title>XIAXIA book store</title>
	
	<!-- main style -->
	<link rel="stylesheet" type="text/css" th:href="@{/style.css}" media="screen" />
	
	<!-- color scheme -->
	<link rel="stylesheet" type="text/css" th:href="@{/color-schemes/red/red.css}" media="screen" title="red" />
	<link rel="stylesheet" type="text/css" th:href="@{/color-schemes/yellow/yellow.css}" media="screen" title="yellow" />
	<link rel="stylesheet" type="text/css" th:href="@{/color-schemes/orange/orange.css}" media="screen" title="orange" />
	<link rel="stylesheet" type="text/css" th:href="@{/color-schemes/blue/blue.css}" media="screen" title="blue" />
	<link rel="stylesheet" type="text/css" th:href="@{/color-schemes/green/green.css}" media="screen" title="green" />
	<link rel="stylesheet" type="text/css" th:href="@{/color-schemes/purple/purple.css}" media="screen" title="purple" />
	
	<!--miscellaneous-->
	<link rel="stylesheet" type="text/css" th:href="@{/css/superfish.css}" media="screen">
	<link rel="stylesheet" type="text/css" th:href="@{/css/prettyPhoto.css}" media="screen"/>
	<link rel="stylesheet" type="text/css" th:href="@{/css/font-awesome.css}" media="screen"/>
	<link rel="stylesheet" type="text/css" th:href="@{/css/audioplayer.css}" media="screen" />

	<!-- revolution slider settings -->
	<link rel="stylesheet" type="text/css" th:href="@{/rs-plugin/css/settings.css}" media="screen" />

	<!-- setting mobile environment -->		
	<link rel="stylesheet" type="text/css" th:href="@{/css/responsive.css}" media="screen" />
	
	<!--[if IE 7]>
	<link rel="stylesheet" type="text/css" th:href="@{/css/font-awesome-ie7.min.css}">
	<![endif]-->
	
	<!--[if lt IE 9]>
	<script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
	<![endif]-->

	<script type="text/javascript" src="/js/jquery-1.8.3.min.js"></script>
	<script type="text/javascript" src="/js/hoverIntent.js"></script>
	<script type="text/javascript" src="/js/superfish.js"></script>
	<script type="text/javascript" src="/js/jquery.jcarousel.js"></script>
	<script type="text/javascript" src="/js/jquery.tweet.js"></script>
	<script type="text/javascript" src="/js/jflickrfeed.js"></script>
	<script type="text/javascript" src="/js/jquery.prettyPhoto.js"></script>
	<script type="text/javascript" src="/js/slides.min.jquery.js"></script>
	<script type="text/javascript" src="/js/jquery.mobilemenu.js"></script>
	<script type="text/javascript" src="/js/jquery.contact.js"></script>
	<script type="text/javascript" src="/js/jquery.preloadify.min.js"></script>
	<script type="text/javascript" src="/js/jquery.jplayer.min.js"></script>
	<script type="text/javascript" src="/js/jquery.isotope.min.js"></script>
	
	<!-- jQuery Revolution Slider -->
	<script type="text/javascript" src="/rs-plugin/js/jquery.themepunch.plugins.min.js"></script>
	<script type="text/javascript" src="/rs-plugin/js/jquery.themepunch.revolution.min.js"></script>
	
	<script type="text/javascript" src="/js/custom.js"></script>
	
	<link rel="stylesheet" type="text/css" href="/template-changer.css" media="screen"/>
	<script type="text/javascript" src="/js/jquery.cookie.js"></script>
	<script type="text/javascript" src="/js/styleswitch.js"></script>



	<!--增加validate插件-->
	<script th:src="@{/assets/js/jquery-validate/jquery.validate.min.js}"></script>
</head>
<body>

<div id="wrapper">
	<header id="header">
		<div class="centered-wrapper">
			<div class="one-third">
				<div class="logo">
					<h2>XIAXIA book store</h2>
				</div>
			</div><!--end one-third-->
			<div class="two-third column-last">		
				<nav id="navigation">
					<nav id="navigation">
						<ul id="mainnav">
							<li><a th:href="@{/user/index}"><span>首页</span></a></li>
							<li><a th:href="@{/user/allBooks}"><span>图书</span></a></li>
							<li><a th:href="@{/user/allBusiness}"><span>店铺</span></a></li>
							<li><a th:href="@{/user/showShoppingCart}"><span>购物车</span></a></li>
							<li><a th:href="@{/user/order?isPayment=0}"><span>我的订单</span></a></li>
							<li><a th:href="@{/user/personalData}"><span>我的</span></a></li>
							<li><a th:href="@{/user/addBusiness}"><span>加入我们</span></a></li>
						</ul>
					</nav><!--end navigation-->
				</nav><!--end navigation-->
			</div><!--end two-third-->
		<div class="clear"></div>			
		</div><!--end centered-wrapper-->
	</header>	

	<hr/>
	<div class="centered-wrapper">	

			<div class="container">
				<h1 th:utext="${message}"></h1>
				<a th:href="@{/index}">返回首页</a>

			</div>

		
		<div class="clear"></div>
	</div><!--end centered-wrapper-->
	
	<div class="space"></div>
	
	<footer id="footer">

	</footer><!--end footer-->	
	
</div><!--end wrapper-->

</body> 
</html>