<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head> 
	<meta http-equiv="content-type" content="text/html; charset=utf-8" /> 
	
	<!-- mobile meta tag -->		
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

	<title>XIAXIA book store</title>
	
	<!-- main style -->
	<link rel="stylesheet" type="text/css" href="style.css" media="screen" />
	
	<!-- color scheme -->
	<link rel="stylesheet" type="text/css" th:href="@{color-schemes/red/red.css}" media="screen" title="red" />
	<link rel="stylesheet" type="text/css" th:href="@{color-schemes/yellow/yellow.css}" media="screen" title="yellow" />
	<link rel="stylesheet" type="text/css" th:href="@{color-schemes/orange/orange.css}" media="screen" title="orange" />
	<link rel="stylesheet" type="text/css" th:href="@{color-schemes/blue/blue.css}" media="screen" title="blue" />
	<link rel="stylesheet" type="text/css" th:href="@{color-schemes/green/green.css}" media="screen" title="green" />
	<link rel="stylesheet" type="text/css" th:href="@{color-schemes/purple/purple.css}" media="screen" title="purple" />
	
	<!--miscellaneous-->
	<link rel="stylesheet" type="text/css" th:href="@{css/superfish.css}" media="screen">
	<link rel="stylesheet" type="text/css" th:href="@{css/prettyPhoto.css}" media="screen"/>
	<link rel="stylesheet" type="text/css" th:href="@{css/font-awesome.css}" media="screen"/>
	<link rel="stylesheet" type="text/css" th:href="@{css/audioplayer.css}" media="screen" />
	
	<!-- revolution slider settings -->
	<link rel="stylesheet" type="text/css" th:href="@{rs-plugin/css/settings.css}" media="screen" />

	<!-- setting mobile environment -->		
	<link rel="stylesheet" type="text/css" th:href="@{css/responsive.css}" media="screen" />
	
	<!--[if IE 7]>
	<link rel="stylesheet" type="text/css" th:href="@{css/font-awesome-ie7.min.css}">
	<![endif]-->
	
	<!--[if lt IE 9]>
	<script src="../../../html5shiv.googlecode.com/svn/trunk/html5.js"></script>
	<![endif]-->

	<script type="text/javascript" src="js/jquery-1.8.3.min.js"></script>
	<script type="text/javascript" src="js/hoverIntent.js"></script>
	<script type="text/javascript" src="js/superfish.js"></script>
	<script type="text/javascript" src="js/jquery.jcarousel.js"></script>
	<script type="text/javascript" src="js/jquery.tweet.js"></script>
	<script type="text/javascript" src="js/jflickrfeed.js"></script>
	<script type="text/javascript" src="js/jquery.prettyPhoto.js"></script>
	<script type="text/javascript" src="js/slides.min.jquery.js"></script>
	<script type="text/javascript" src="js/jquery.mobilemenu.js"></script>
	<script type="text/javascript" src="js/jquery.contact.js"></script>
	<script type="text/javascript" src="js/jquery.preloadify.min.js"></script>
	<script type="text/javascript" src="js/jquery.jplayer.min.js"></script>
	<script type="text/javascript" src="js/jquery.isotope.min.js"></script>
	
	<!-- jQuery Revolution Slider -->
	<script type="text/javascript" src="rs-plugin/js/jquery.themepunch.plugins.min.js"></script>
	<script type="text/javascript" src="rs-plugin/js/jquery.themepunch.revolution.min.js"></script>
	
	<script type="text/javascript" src="js/custom.js"></script>
	
	<link rel="stylesheet" type="text/css" href="template-changer.css" media="screen"/>		
	<script type="text/javascript" src="js/jquery.cookie.js"></script>	
	<script type="text/javascript" src="js/styleswitch.js"></script>	
	
	<!-- Google Web Fonts -->
	<link href='../../../fonts.googleapis.com/css@family=Open+Sans_3A300,400,600,700' rel='stylesheet' type='text/css'>


<script type="text/javascript">
	$(function()
		{
			// Call stylesheet init so that all stylesheet changing functions 
			// will work.
			$.stylesheetInit();
			
			// This code loops through the stylesheets when you click the link with 
			// an ID of "toggler" below.
			$('#toggler').bind(
				'click',
				function(e)
				{
					$.stylesheetToggle();
					return false;
				}
			);
			
			// When one of the styleswitch links is clicked then switch the stylesheet to
			// the one matching the value of that links rel attribute.
			$('.styleswitch').bind(
				'click',
				function(e)
				{
					$.stylesheetSwitch(this.getAttribute('rel'));
					return false;
				}
			);
		}
	);
</script>	
	
</head> 

<!--very important: setting a class for homepage -->
<body class="home"> 

<!-- setting a fullscreen image as background:
<img id="bg" src="images/apple.jpg" alt="apple-background" />
-->


	<div class="theme-changer-wrap">
		<div class="theme-changer">
			<div class="changer-inner">				
				<span> COLOR SCHEME </span>
					<ul id="colors">
						<li><a href="index.html@style=yellow" rel="yellow" class="styleswitch color-yellow">yellow</a></li>
						<li><a href="index.html@style=orange" rel="orange" class="styleswitch color-orange">orange</a></li>
						<li><a href="index.html@style=blue" rel="blue" class="styleswitch color-blue">blue</a></li>
						<li><a href="index.html@style=green" rel="green" class="styleswitch color-green">blue</a></li>
						<li><a href="index.html@style=red" rel="red" class="styleswitch color-red">blue</a></li>
						<li><a href="index.html@style=purple" rel="purple" class="styleswitch color-purple">blue</a></li>
					
					</ul>
					<div style="clear:both; height:10px; width:100%"></div>				
			</div>
		</div>
		<div class="open-close"></div>
	</div> 	

<div id="wrapper">
	<header id="header">
		<div class="centered-wrapper">
			<div class="one-third">
				<div class="logo">
					<hr><hr>
					<h2>XIAXIA book store</h2>
					<hr><hr>
				</div>
			</div><!--end one-third-->
			
			<div class="two-third column-last">		
				<nav id="navigation">
					<ul id="mainnav">
						<li><a th:href="@{/index}" class="current"><span>首页</span></a></li>
						<li><a href="#"><span>图书</span></a></li>
                        <li><a href="#"><span>电子书</span></a></li>
						<li><a th:href="@{/showShoppingCart}"><span>购物车</span></a></li>
						<li><a href="portfolio-four-columns.html"><span>我的订单</span></a></li>
						<li><a href="blog-masonry-2-columns.html"><span>BLOG</span></a></li>
					</ul>
					<a th:href="@{/login}">你好，请登录 </a><a th:href="@{/registration}">免费注册</a>

				</nav><!--end navigation-->
			</div><!--end two-third-->
		<div class="clear"></div>			
		</div><!--end centered-wrapper-->
	</header>	


	<div class="top-shadow"></div>
	<div class="fullwidthbanner-container">
		<div class="fullwidthbanner">
			<ul th:if="${slideImg!=null}">
				<li th:each="img:${slideImg}">
					<img th:src="@{${img}}"/>
				</li>
			</ul>
		</div>
		<div class="bottom-shadow"></div>	
	</div><!--end slider-->
	
	
	<div class="centered-wrapper">	
	
		<!--<section class="intro">-->
			<!--<h2>We`re an award winning digital studio specialised in web design.</h2>-->
			<!--<h5>Our projects stand out from the crowd so if you want to collaborate, <a href="#">get in touch with us</a> to see how we can help you!</h5>-->
		<!--</section>-->
        <div class="space"></div>

		<section th:if="${books!=null}" th:each="key:${books.keySet()}" class="list-group list-group-horizontal" style="width: 100%;">
            <div class="bgtitle"><a th:href="@{'/booksByType?bookType='+${key}}"><h2 th:text="${key}"></h2></a></div>
            <div th:each="booklist:${books.get(key)}"  class="list-group-item" style="display: inline-block;width: 24%;" >
                <a th:href="@{'/bookDetail?bookname='+${booklist.bookName}}">
                    <img th:src="@{${booklist.bookImages[0].pAddress}}" alt=" " title="" style="width: 100%;height:50%;" />
                </a>
                <h3><a href="portfolio-single.html" th:utext="${booklist.bookName}"></a></h3>
            </div>
        </section>

        <div class="space"></div>

		<section>
			<div class="bgtitle"><h2>新书推荐</h2></div>
			<ul id="portfolio-carousel">
				<li>
					<a href="images/portfolio/image1.jpg" rel="prettyPhoto[pp_gal]" title="Cervejaria Republica">
						<span class="item-on-hover"><span class="hover-image"></span></span>
						<img src="images/portfolio/image1-small.jpg" alt=" " />
					</a>
					<div class="portfolio-carousel-details">
						<h3><a href="portfolio-single.html">Cervejaria Republica</a></h3>
						<span>rebranding, printing identity</span>
					</div>
				</li>
				
				<li>
					<a href="images/portfolio/image2.jpg" rel="prettyPhoto[pp_gal]" title="Website Redesign">
						<span class="item-on-hover"><span class="hover-link"></span></span>
						<img th:src="@{/images/portfolio/image2-small.jpg}" alt=" " />
					</a>
					<div class="portfolio-carousel-details">
						<h3><a href="portfolio-single.html">Website Redesign</a></h3>
						<span>web design, programming</span>
					</div>
				</li>
                <li>
                    <a href="images/portfolio/image2.jpg" rel="prettyPhoto[pp_gal]" title="Website Redesign">
                        <span class="item-on-hover"><span class="hover-link"></span></span>
                        <img th:src="@{/images/portfolio/image2-small.jpg}" alt=" " />
                    </a>
                    <div class="portfolio-carousel-details">
                        <h3><a href="portfolio-single.html">Website Redesign</a></h3>
                        <span>web design, programming</span>
                    </div>
                </li>
                <li>
                    <a href="images/portfolio/image2.jpg" rel="prettyPhoto[pp_gal]" title="Website Redesign">
                        <span class="item-on-hover"><span class="hover-link"></span></span>
                        <img th:src="@{/images/portfolio/image2-small.jpg}" alt=" " />
                    </a>
                    <div class="portfolio-carousel-details">
                        <h3><a href="portfolio-single.html">Website Redesign</a></h3>
                        <span>web design, programming</span>
                    </div>
                </li>
				
				<li>
					<a href="../../../vimeo.com/7449107" rel="prettyPhoto">
						<span class="item-on-hover"><span class="hover-video"></span></span>
						<img th:src="@{/images/portfolio/image3-small.jpg}" alt=" " />
					</a>
					<div class="portfolio-carousel-details">
						<h3><a href="portfolio-single.html">BOBO</a></h3>
						<span>business cards, branding</span>
					</div>
				</li>
				
				<li>
					<a href="images/portfolio/image6.jpg">
						<span class="item-on-hover"><span class="hover-image"></span></span>
						<img th:src="@{/images/portfolio/image6-small.jpg}" alt=" " />
					</a>
					<div class="portfolio-carousel-details">
						<h3><a href="portfolio-single.html">Old City Streets</a></h3>
						<span>urban, photography</span>
					</div>
				</li>				
				
				<li>
					<a href="images/portfolio/image4.jpg" rel="prettyPhoto[pp_gal]" title="Warner Bros">
						<span class="item-on-hover"><span class="hover-image"></span></span>
						<img th:src="@{/images/portfolio/image4-small.jpg}" alt=" " />
					</a>
					<div class="portfolio-carousel-details">
						<h3><a href="portfolio-single.html">Warner Bros</a></h3>
						<span>web design, rebranding</span>
					</div>
				</li>
				
				<li>
					<a href="portfolio-single.html">
						<span class="item-on-hover"><span class="hover-link"></span></span>
						<img th:src="@{/images/portfolio/image6-small.jpg}" alt=" " />
					</a>
					<div class="portfolio-carousel-details">
						<h3><a href="portfolio-single.html">City Photo Session</a></h3>
						<span>marketing, photography</span>
					</div>
				</li>				
			</ul>	
		</section>		
		
		<div class="space"></div>
		
		<section>
			<div class="bgtitle"><h2>少儿</h2></div>
			<ul id="homeblog-carousel">
				<li>
					<a href="portfolio-single.html">
						<span class="item-on-hover"></span>
						<img th:src="@{/images/blog/homeblog-thumbnail3.jpg}" alt="LOREM IPSUM DOLOR SIT AMET" />
					</a>
					<div class="blog-carousel-details">
						<h2><a href="portfolio-single.html">Lorem Ipsum Dolor Sit Amet Consectetur</a></h2>
						<div class="carousel-meta">
							<span class="post-format"><i class="icon-pencil"></i></span><span class="details">May 18, 2012 / <a href="#">3 Comments</a></span>
						</div>
						<p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium.</p>
					</div>
				</li>
				
				<li>
					<a href="portfolio-single.html">
						<span class="item-on-hover"></span>
						<img th:src="@{/images/blog/homeblog-thumbnail5.jpg}" alt="LOREM IPSUM DOLOR SIT AMET" />
					</a>
					<div class="blog-carousel-details">
						<h2><a href="portfolio-single.html">Ut Enim Ad Minim Quis Nostrud</a></h2>
						<div class="carousel-meta">
							<span class="post-format"><i class="icon-pencil"></i></span><span class="details">December 07, 2012 / <a href="#">4 Comments</a></span>
						</div>
						<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
					</div>
				</li>			
				<li>
					<a href="portfolio-single.html">
						<span class="item-on-hover"></span>
						<img th:src="@{/images/blog/homeblog-thumbnail1.jpg}" alt="LOREM IPSUM DOLOR SIT AMET" />
					</a>
					<div class="blog-carousel-details">
						<h2><a href="portfolio-single.html">Excepteur Sint Occaecat Cupidatat Non Proident</a></h2>
						<div class="carousel-meta">
							<span class="post-format"><i class="icon-facetime-video"></i></span><span class="details">May 18, 2012 / <a href="#">3 Comments</a></span>
						</div>
						<p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium.</p>
					</div>
				</li>
				
				<li>
					<a href="portfolio-single.html">
						<span class="item-on-hover"></span>
						<img th:src="@{/images/blog/homeblog-thumbnail4.jpg}" alt="LOREM IPSUM DOLOR SIT AMET" />
					</a>
					<div class="blog-carousel-details">
						<h2><a href="portfolio-single.html">Itaque Earum Rerum Hic Tenetur</a></h2>
						<div class="carousel-meta">
							<span class="post-format"><i class="icon-quote-left"></i></span><span class="details">December 07, 2012 / <a href="#">4 Comments</a></span>
						</div>
						<p>Nam libero tempore, cum soluta nobis est eligendi optio cumque nihil impedit quo minus id quod maxime placeat facere possimus.</p>
					</div>
				</li>
			</ul>	
		</section>				
		
	</div><!--end centered-wrapper-->
	
	<div class="space"></div>

	<footer id="footer">
		<div class="centered-wrapper">
			<div id="topfooter">
				<div class="one-half">
					<h3>About Us</h3>
					<p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam veritatis et quasi nam liber tempore.</p>
					<div class="footer-logo"></div>
				</div><!--end percent-one-half-->
				<div class="one-half column-last">
					<div class="percent-one-half">
						<h3>We are on Twitter</h3>
						<div class="tweet1"></div>
					</div>
					
					<div class="percent-one-half column-last">
						<h3>Get in Touch with Us</h3>
						<ul>
							<li>Address: 1600 Amphitheatre Parkway, Mountain View, CA 94043</li>
							<li>Phone: +321 123 456 7<br/>
							E-mail: <a href="mailto:">johndoe@ipsum.com</a></li>
						</ul>
					</div><!--end one-half-->					
				</div><!--end one-half-->
			</div><!--end topfooter-->
		</div><!--end centered-wrapper-->
		
		<div id="bottomfooter">		
			<div class="centered-wrapper">		
				<div class="one-half">
					<p>COPYRIGHT &copy; 2013 - SYMPATHIQUE | ALL RIGHTS RESERVED. - Collect from <a href="http://www.cssmoban.com/" title="网页模板" target="_blank">网页模板</a></p>
				</div><!--end one-half-->

				<div class="one-half column-last">
					<ul id="social">
						<li><a class="rss" href="#">RSS Feed</a></li>
						<li><a class="facebook" href="#">Facebook</a></li>
						<li><a class="twitter" href="#">Twitter</a></li>
						<li><a class="flickr" href="#">Flickr</a></li>
						<li><a class="google" href="#">Google</a></li>
						
					<!-- You can add social icons for forrst, dribbble, vimeo, linkedin and skype. Take the ones you need from the list and paste them above
					
						<li><a class="forrst" href="#">Forrst</a></li>
						<li><a class="dribbble" href="#">Dribbble</a></li>
						<li><a class="vimeo" href="#">Vimeo</a></li>
						<li><a class="linkedin" href="#">LinkedIn</a></li>
						<li><a class="skype" href="#">Skype</a></li> 
					-->	
					</ul>					
				</div><!--end one-half-->
			</div><!--end centered-wrapper-->				
		</div><!--end bottomfooter-->
	</footer><!--end footer-->	
	
</div><!--end wrapper-->
</body> 
</html>