<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="content-type" content="text/html; charset=utf-8" />
	
	<!-- mobile meta tag -->		
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

	<title>XIAXIA book store</title>
	
	<!-- main style -->
	<link rel="stylesheet" type="text/css" th:href="@{/style.css}" media="screen" />
	
		<!--miscellaneous-->
	<link rel="stylesheet" type="text/css" th:href="@{/css/superfish.css}" media="screen">
	<link rel="stylesheet" type="text/css" th:href="@{/css/prettyPhoto.css}" media="screen"/>
	<link rel="stylesheet" type="text/css" th:href="@{/css/font-awesome.css}" media="screen"/>
	<link rel="stylesheet" type="text/css" th:href="@{/css/audioplayer.css}" media="screen" />
	<!-- color scheme -->
	<link rel="stylesheet" type="text/css" href="/color-schemes/red/red.css" media="screen" title="red" />
	<!-- revolution slider settings -->
	<link rel="stylesheet" type="text/css" th:href="@{/rs-plugin/css/settings.css}" media="screen" />

	<!-- setting mobile environment -->		
	<link rel="stylesheet" type="text/css" th:href="@{/css/responsive.css}" media="screen" />
	
	<!--[if IE 7]>
	<link rel="stylesheet" type="text/css" th:href="@{/css/font-awesome-ie7.min.css}">
	<![endif]-->
	
	<!--[if lt IE 9]>
	<script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
	<![endif]-->
	<!--bootstrap-->
	<link rel="stylesheet" href="/bootstrap-4.4.1-dist/css/bootstrap.min.css"/>
	<script type="text/javascript" src="/jquery-3.5.1/jquery-3.5.1.min.js"></script>
	<script type="text/javascript" src="/js/hoverIntent.js"></script>
	<script type="text/javascript" src="/js/superfish.js"></script>
	<script type="text/javascript" src="/js/jquery.jcarousel.js"></script>
	<script type="text/javascript" src="/js/jquery.tweet.js"></script>
	<script type="text/javascript" src="/js/jflickrfeed.js"></script>
	<script type="text/javascript" src="/js/jquery.prettyPhoto.js"></script>
	<script type="text/javascript" src="/js/slides.min.jquery.js"></script>
	<script type="text/javascript" src="/js/jquery.mobilemenu.js"></script>
	<script type="text/javascript" src="/js/jquery.contact.js"></script>
	<script type="text/javascript" src="/js/jquery.preloadify.min.js"></script>
	<script type="text/javascript" src="/js/jquery.jplayer.min.js"></script>
	<script type="text/javascript" src="/js/jquery.isotope.min.js"></script>
	
	<!-- jQuery Revolution Slider -->
	<script type="text/javascript" src="/rs-plugin/js/jquery.themepunch.plugins.min.js"></script>
	<script type="text/javascript" src="/rs-plugin/js/jquery.themepunch.revolution.min.js"></script>
	
	<script type="text/javascript" src="/js/custom.js"></script>
	
	<link rel="stylesheet" type="text/css" href="/template-changer.css" media="screen"/>
	<script type="text/javascript" src="/js/jquery.cookie.js"></script>
	<script type="text/javascript" src="/js/styleswitch.js"></script>
	
	<!-- Google Web Fonts -->
	<link href='http://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700' rel='stylesheet' type='text/css'>

	<script src="/bootstrap-4.4.1-dist/js/bootstrap.min.js"/>
	<script type="text/javascript">
		$(function()
				{
					// Call stylesheet init so that all stylesheet changing functions
					// will work.
					$.stylesheetInit();

					// This code loops through the stylesheets when you click the link with
					// an ID of "toggler" below.
					$('#toggler').bind(
							'click',
							function(e)
							{
								$.stylesheetToggle();
								return false;
							}
					);

					// When one of the styleswitch links is clicked then switch the stylesheet to
					// the one matching the value of that links rel attribute.
					$('.styleswitch').bind(
							'click',
							function(e)
							{
								$.stylesheetSwitch(this.getAttribute('rel'));
								return false;
							}
					);
				}
		);
	</script>

</head>
<body class="home">

<div id="wrapper">
	<header id="header">
		<div class="centered-wrapper">
			<div class="one-third">
				<div class="logo">
					<h2>XIAXIA book store</h2>
				</div>
			</div><!--end one-third-->
			<div class="two-third column-last">
				<nav id="navigation">
					<ul id="mainnav">
						<li><a th:href="@{/user/index}" ><span>首页</span></a></li>
						<li><a th:href="@{/user/allBooks}"><span>图书</span></a></li>
						<li><a th:href="@{/user/allBusiness}"><span>店铺</span></a></li>
						<li><a th:href="@{/user/showShoppingCart}"><span>购物车</span></a></li>
						<li><a th:href="@{/user/order?isPayment=0}" class="current"><span>我的订单</span></a></li>
						<li><a th:href="@{/user/personalData}"><span>我的</span></a></li>
						<li><a th:href="@{/user/addBusiness}"><span>加入我们</span></a></li>
					</ul>
				</nav><!--end navigation-->
			</div><!--end two-third-->
		<div class="clear"></div>			
		</div><!--end centered-wrapper-->
	</header>	

	<hr/>
	<div class="centered-wrapper">	
		<div class="one-fourth col-md-2">
				<a th:href="@{/user/showShoppingCart}" class="list-group-item">购物车</a>
				<a th:href="@{/user/order?isPayment=0}" class="list-group-item active">订单</a>
				<a href="#" class="list-group-item">评价</a>
				<a th:href="@{/user/personalData}" class="list-group-item">个人信息</a>
				<a href="#" class="list-group-item">建议</a>


		</div><!--end one-fourth-->
		<div>
			<section id="options">
				<ul id="filters" class="option-set clearfix" data-option-key="filter">
					<li><a th:href="@{/user/order?isPayment=0}" data-option-value="*" class="selected active" th:if="${isPayment==0}">待付款</a></li>
					<li><a th:href="@{/user/order?isPayment=0}" data-option-value="*"  th:if="${isPayment!=0}">待付款</a></li>
					<li><a th:href="@{/user/order?isPayment=1}" data-option-value=".marketing" class="selected active"  th:if="${isPayment==1}">待发货</a></li>
					<li><a th:href="@{/user/order?isPayment=1}" data-option-value=".marketing" th:if="${isPayment!=1}">待发货</a></li>
					<li><a th:href="@{/user/received}" data-option-value=".photography" >待收货</a></li>
				</ul>
			</section>
		</div>
		<div class="three-fourth column-last">
			<hr/>

			<div th:if="${orders!=null}" th:each="order:${orders}">
				<div>
					<code th:utext="'<strong>'+${order.createDate+'   </strong>订单号：'+order.orderNumber}"></code>
					<p>
					<table class="table" th:if="${order!=null}">
					<thead>
					<tr>
						<th colspan="2">宝贝</th>

						<th>单价</th>
						<th>数量</th>
						<th>小计</th>
					</tr>
					</thead>
						<tbody>
						<tr th:each="orderitem:${order.orderItems}" th:if="${orderitem.isPayment==isPayment}">
							<td style="width: 10%"><img th:src="@{${orderitem.book.bookImages[0].pAddress}}" style="width: 100%"/></td>
							<td th:utext="${orderitem.book.bookName}"></td>
							<td th:utext="${'￥'+orderitem.book.price}"></td>
							<td th:utext="${orderitem.oINumber}"></td>
							<td th:utext="${'$'+orderitem.book.price*orderitem.oINumber}"></td>
						</tr>
						<tr>
							<td colspan="2" th:utext="${'总价'+(order.totalPrice+order.shipping)+'(运费：'+order.shipping+')'}"></td>
							<td colspan="3" th:if="${isPayment==0}"><a th:href="@{'/user/updateOrder?orderNumber='+${order.orderNumber}+'&&totalPrice='+${order.totalPrice}+'&&orderId='+${order.orderId}}" class="button  rose">立即付款</a></td>
						</tr>
						</tbody>
					</table>
					</p>
				</div>
			</div>

				<div class="separator"></div>
		</div><!--three-fourth-->
		
		<div class="clear"></div>
	</div><!--end centered-wrapper-->
	
	<div class="space"></div>
	
	<footer id="footer">

	</footer><!--end footer-->	
	
</div><!--end wrapper-->
</body> 
</html>