<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="content-type" content="text/html; charset=utf-8" />
	
	<!-- mobile meta tag -->		
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

	<title>XIAXIA book store</title>
	
	<!-- main style -->
	<link rel="stylesheet" type="text/css" th:href="@{style.css}" media="screen" />
	
	<!-- color scheme -->
	<link rel="stylesheet" type="text/css" th:href="@{color-schemes/red/red.css}" media="screen" title="red" />
	<link rel="stylesheet" type="text/css" th:href="@{color-schemes/yellow/yellow.css}" media="screen" title="yellow" />
	<link rel="stylesheet" type="text/css" th:href="@{color-schemes/orange/orange.css}" media="screen" title="orange" />
	<link rel="stylesheet" type="text/css" th:href="@{color-schemes/blue/blue.css}" media="screen" title="blue" />
	<link rel="stylesheet" type="text/css" th:href="@{color-schemes/green/green.css}" media="screen" title="green" />
	<link rel="stylesheet" type="text/css" th:href="@{color-schemes/purple/purple.css}" media="screen" title="purple" />
	
	<!--miscellaneous-->
	<link rel="stylesheet" type="text/css" th:href="@{css/superfish.css}" media="screen">
	<link rel="stylesheet" type="text/css" th:href="@{css/prettyPhoto.css}" media="screen"/>
	<link rel="stylesheet" type="text/css" th:href="@{css/font-awesome.css}" media="screen"/>
	<link rel="stylesheet" type="text/css" th:href="@{css/audioplayer.css}" media="screen" />
	
	<!-- revolution slider settings -->
	<link rel="stylesheet" type="text/css" th:href="@{rs-plugin/css/settings.css}" media="screen" />

	<!-- setting mobile environment -->		
	<link rel="stylesheet" type="text/css" th:href="@{css/responsive.css}" media="screen" />
	
	<!--[if IE 7]>
	<link rel="stylesheet" type="text/css" th:href="@{css/font-awesome-ie7.min.css}">
	<![endif]-->
	
	<!--[if lt IE 9]>
	<script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
	<![endif]-->

	<script type="text/javascript" src="js/jquery-1.8.3.min.js"></script>
	<script type="text/javascript" src="js/hoverIntent.js"></script>
	<script type="text/javascript" src="js/superfish.js"></script>
	<script type="text/javascript" src="js/jquery.jcarousel.js"></script>
	<script type="text/javascript" src="js/jquery.tweet.js"></script>
	<script type="text/javascript" src="js/jflickrfeed.js"></script>
	<script type="text/javascript" src="js/jquery.prettyPhoto.js"></script>
	<script type="text/javascript" src="js/slides.min.jquery.js"></script>
	<script type="text/javascript" src="js/jquery.mobilemenu.js"></script>
	<script type="text/javascript" src="js/jquery.contact.js"></script>
	<script type="text/javascript" src="js/jquery.preloadify.min.js"></script>
	<script type="text/javascript" src="js/jquery.jplayer.min.js"></script>
	<script type="text/javascript" src="js/jquery.isotope.min.js"></script>
	
	<!-- jQuery Revolution Slider -->
	<script type="text/javascript" src="rs-plugin/js/jquery.themepunch.plugins.min.js"></script>
	<script type="text/javascript" src="rs-plugin/js/jquery.themepunch.revolution.min.js"></script>
	
	<script type="text/javascript" src="js/custom.js"></script>
	
	<link rel="stylesheet" type="text/css" href="template-changer.css" media="screen"/>		
	<script type="text/javascript" src="js/jquery.cookie.js"></script>	
	<script type="text/javascript" src="js/styleswitch.js"></script>	
	
	<!-- Google Web Fonts -->
	<link href='http://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700' rel='stylesheet' type='text/css'>
	<!--boost rap-->
	<link rel="stylesheet" href="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/css/bootstrap.min.css">
	<script src="https://cdn.staticfile.org/jquery/2.1.1/jquery.min.js"></script>
	<script src="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>

<script type="text/javascript">
	$(function()
		{
			// Call stylesheet init so that all stylesheet changing functions 
			// will work.
			$.stylesheetInit();
			
			// This code loops through the stylesheets when you click the link with 
			// an ID of "toggler" below.
			$('#toggler').bind(
				'click',
				function(e)
				{
					$.stylesheetToggle();
					return false;
				}
			);
			
			// When one of the styleswitch links is clicked then switch the stylesheet to
			// the one matching the value of that links rel attribute.
			$('.styleswitch').bind(
				'click',
				function(e)
				{
					$.stylesheetSwitch(this.getAttribute('rel'));
					return false;
				}
			);
		}
	);
</script>	
	
</head>
<body>
 

<!-- setting a fullscreen image as background:
<img id="bg" src="images/apple.jpg" alt="apple-background" />
-->


	<div class="theme-changer-wrap">
		<div class="theme-changer">
			<div class="changer-inner">				
				<span> COLOR SCHEME </span>
					<ul id="colors">
						<li><a href="?style=yellow" rel="yellow" class="styleswitch color-yellow">yellow</a></li>
						<li><a href="?style=orange" rel="orange" class="styleswitch color-orange">orange</a></li>
						<li><a href="?style=blue" rel="blue" class="styleswitch color-blue">blue</a></li>
						<li><a href="?style=green" rel="green" class="styleswitch color-green">blue</a></li>
						<li><a href="?style=red" rel="red" class="styleswitch color-red">blue</a></li>
						<li><a href="?style=purple" rel="purple" class="styleswitch color-purple">blue</a></li>
					
					</ul>
					<div style="clear:both; height:10px; width:100%"></div>				
			</div>
		</div>
		<div class="open-close"></div>
	</div> 	
<div id="wrapper">
	<header id="header">
		<div class="centered-wrapper">
			<div class="one-third">
				<div class="logo">
					<hr><hr>
					<h2>XIAXIA book store</h2>
					<hr><hr>
				</div>
			</div><!--end one-third-->

			<div class="two-third column-last">		
				<nav id="navigation">
					<ul id="mainnav">
						<li><a th:href="@{/index}" class="active"><span>首页</span></a></li>
						<li><a href="#"><span>图书</span></a></li>
						<li><a href="#"><span>电子书</span></a></li>
						<li><a th:href="@{/showShoppingCart}"><span>购物车</span></a></li>
						<li><a href="portfolio-four-columns.html"><span>我的订单</span></a></li>
						<li><a href="blog-masonry-2-columns.html"><span>BLOG</span></a></li>
					</ul>
				</nav><!--end navigation-->
			</div><!--end two-third-->
		<div class="clear"></div>			
		</div><!--end centered-wrapper-->
	</header>	
			
	<div class="top-shadow"></div>
	
	<section class="page-title">
	<div class="page-background">
		<img src="images/bg/title-bg1.jpg" />
	</div>
	<div class="bottom-shadow"></div>
		<div class="title-wrapper">
			<div class="title-bg">
				<div class="title-content">
					<div class="two-third">
						<h2>注册</h2>
					</div>
					<div class="one-third column-last">		
					</div>
					<div class="clear"></div>
				</div><!--end title-content-->
			</div>
		</div><!--end title-wrapper-->
	</section>	


	<div class="centered-wrapper">
	

		
		<div class="three-fourth column-last">

				<form class="form-horizontal" role="form" action="/registered" method="post">
					<div class="form-group">
						<label class="col-sm-2 control-label">用户名</label>
						<div class="col-sm-10">
							<input type="text" class="form-control" name="username" placeholder="请输入用户名">
						</div>
					</div>
					<div class="form-group">
						<label class="col-sm-2 control-label">密码</label>
						<div class="col-sm-10">
							<input type="text" class="form-control" name="password" placeholder="请输入密码">
						</div>
					</div>
					<div class="form-group">
						<div class="col-sm-offset-2 col-sm-10">
							<div class="checkbox">
								<label>
									<input type="checkbox">请记住我
								</label>
							</div>
						</div>
					</div>
					<div class="form-group">
						<div class="col-sm-offset-2 col-sm-10">
							<button type="submit" class="btn btn-default">注册</button>
						</div>
					</div>
				</form>
		<!--end contactform-->
		</div><!--three-fourth-->				
		
		<div class="clear"></div>
	</div><!--end centered-wrapper-->
	
	<div class="space"></div>
	
	<footer id="footer">
		<div class="centered-wrapper">
			<div id="topfooter">
				<div class="one-half">
					<h3>About Us</h3>
					<p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam veritatis et quasi nam liber tempore.</p>
					<div class="footer-logo"></div>
				</div><!--end percent-one-half-->
				<div class="one-half column-last">
					<div class="percent-one-half">
						<h3>We are on Twitter</h3>
						<div class="tweet1"></div>
					</div>
					
					<div class="percent-one-half column-last">
						<h3>Get in Touch with Us</h3>
						<ul>
							<li>Address: 1600 Amphitheatre Parkway, Mountain View, CA 94043</li>
							<li>Phone: +321 123 456 7<br/>
							E-mail: <a href="mailto:">johndoe@ipsum.com</a></li>
						</ul>
					</div><!--end one-half-->					
				</div><!--end one-half-->
			</div><!--end topfooter-->
		</div><!--end centered-wrapper-->
		
		<div id="bottomfooter">		
			<div class="centered-wrapper">		
				<div class="one-half">

				</div><!--end one-half-->

				<div class="one-half column-last">
					<ul id="social">
						<li><a class="rss" href="#">RSS Feed</a></li>
						<li><a class="facebook" href="#">Facebook</a></li>
						<li><a class="twitter" href="#">Twitter</a></li>
						<li><a class="flickr" href="#">Flickr</a></li>
						<li><a class="google" href="#">Google</a></li>
						
					<!-- You can add social icons for forrst, dribbble, vimeo, linkedin and skype. Take the ones you need from the list and paste them above
					
						<li><a class="forrst" href="#">Forrst</a></li>
						<li><a class="dribbble" href="#">Dribbble</a></li>
						<li><a class="vimeo" href="#">Vimeo</a></li>
						<li><a class="linkedin" href="#">LinkedIn</a></li>
						<li><a class="skype" href="#">Skype</a></li> 
					-->	
					</ul>					
				</div><!--end one-half-->
			</div><!--end centered-wrapper-->				
		</div><!--end bottomfooter-->
	</footer><!--end footer-->	
	
</div><!--end wrapper-->
</body> 
</html>